html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.background {
  background-color: rgb(236, 235, 242);
  background-image: url("./space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

h1, h2, p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: fit-content;
  width: 90%;
  color: rgb(209 209 209);
}
.App {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  position: absolute;
  justify-content: space-between;
}

.container {
  background-color: rgb(35 35 44);
  position: fixed;
  display: flex;
}

.banListContainer {
  flex-direction: column;
  height: 80dvh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 15dvw;
}

.banList {
  flex-wrap: wrap;
  display: flex;
  padding: 5px;
  gap: 5px;
}

.historyContainer {
  width: 20dvw;
  height: 100dvh;
}

.historyBoundary {
  height: 100dvh;
  width: 20dvw;
}

.banListBoundary {
  height: 80dvh;
  width: 15dvw;
}

.interactable {
  position: unset;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: fit-content;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
}


.attributeButtons {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(133, 133, 133);
  color: rgb(18, 18, 18);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  font-size: large;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  background-color: rgb(74 149 185);
  color: rgb(255, 255, 255);
  transition: ease 0.3s;
}

input:hover {
  scale: 1.1;
  background-color: rgb(52, 102, 125);
}

.descriptionH2 {
  text-align: left;
  margin-bottom: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

form {
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(54 53 56);
  padding: 10px;
  border-radius: 20px;
}


img {
  border-radius: 20px;
  width: 90%;
  height: fit-content;
  object-fit: contain;
}

.titleCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.titleCard h1, .titleCard h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.launchButton {
  color: white;
  background-color: rgb(254, 73, 32);
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px 3px rgb(173, 29, 29);
  transition: box-shadow 0.5s ease;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.launchButton:hover {
  box-shadow: 0px 3px rgb(173, 29, 29), inset 0px 8px rgb(15, 17, 20);

}

.attributesList {
  display: flex;
  gap: 5px;
  padding: 2px;
  align-items: center;
}